*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    list-style-type: none;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    padding: 30px;
    background-color: #5c5858;
}
ul{
    width: 500px;
}
ul a{
    color: #000000;
    padding: 5px 20px;
}
.box{
    width: 200px;
    height: 200px;
    background-color: #000000;
    margin: 20px auto;
}